@font-face {
  font-family: "iconfont"; /* Project id 3133993 */
  src: url('iconfont.woff2?t=1641892863740') format('woff2'),
       url('iconfont.woff?t=1641892863740') format('woff'),
       url('iconfont.ttf?t=1641892863740') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanyuwo:before {
  content: "\e601";
}

.icon-guanyuwomen:before {
  content: "\e691";
}

.icon-xitongguanli:before {
  content: "\e60a";
}

.icon-tianjiayonghu:before {
  content: "\e630";
}

.icon-home2:before {
  content: "\e600";
}

.icon-home:before {
  content: "\e699";
}

.icon-tupiantianjia:before {
  content: "\ec7d";
}

.icon-houtaiguanli:before {
  content: "\e665";
}

.icon-shanchu:before {
  content: "\e8b6";
}

